.container {
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
	overflow: hidden;
}

.section {
	overflow: hidden;
	padding: 5rem 0;
}

.main {
	width: 100%;
	height: 100%;
}

.logo {
	width: 8rem;
}

// Overlays
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0, rgba(8,8,8,0.14) 54%, rgba(14,14,14,0.1) 100%);
	opacity: 0.2;
}

.video-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;

	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

// Hide

.hide-md {
	@include mq-max(900px) {
		display: none !important;
	}
}

.hide-pc-up {
	@include mq(900px) {
		display: none !important;
	}
}


// .row {

// }

.col {
	width: 100%;

	@include mq(900px) {
		width: 47%;
	}
}


// Text
.upper {
	text-transform: uppercase;
}
.lower {
	text-transform: lowercase;
}
.text-center {
	text-align: center;
	margin-bottom: 2rem
}

.heading {
	font-size: 2.8rem;
}

.subheading {
	font-size: 1.7rem;
}