$text-color: #4A4A4A;
$text-color-white: #fff;

$bg-color: #fff;
$header-bg-color: #fff;

$gray-color: #efefef;
$dark-gray-color: rgba(0,0,0,0.3);
$dark-color: #444;
$extra-dark-color: #222;
$white-color: #fff;
$black-color: #000;

$font-primary: 'Open Sans', Arial, Helvetica, sans-serif;
$font-secondary: 'Roboto Slab', Arial, Helvetica, sans-serif;


$t-time: 350ms;
$t-ease: ease-in-out;