$text-color: #4A4A4A;
$text-color-white: #4A4A4A;

$bg-color: #fff;
$header-bg-color: #fff;

$dark-color: #444;
$white-color: #fff;

$font-primary: 'Open Sans', Arial, Helvetica, sans-serif;
$font-secondary: 'Roboto Slab', Arial, Helvetica, sans-serif;


$t-time: 350ms;
$t-ease: ease-in-out;