.dropdown {
    width: auto;
    cursor: pointer;
    position: relative;

    &.open {
        .dropdown__menu {
            height: auto;
        }
    }

    &__toggle {
        margin: 0;
        span {
            text-transform: uppercase;
        }

        i {
            display: inline-block;
            margin-left: 1rem;
        }
    }
    
    &__menu {
        width: 100%;
        position: absolute;
        bottom: calc(100% + 2rem);
        left: 0;
        text-align: left;
        transition: height $t-time $t-ease;
        height: 0;
        overflow: hidden;
        @include bg-color($dark-color);


        li {
            font-size: 1.4rem;
            padding: 0.75rem 1rem;
        }
    }

    // Region dropdown

    &--region {

        .dropdown__toggle {
            outline: none;
            background-color: transparent;
            background-image: url('../../dist/images/flags/usa-flag.jpg');
            background-repeat: no-repeat;
            background-size: 3rem;
            background-position: 1rem center;
            padding-left: 5rem;
            padding-right: 1rem;
            border-radius: 5px;
        }

        .dropdown__menu li {
            background-size: 3rem;
            background-repeat: no-repeat;
            background-position: 1rem center;
            padding-left: 5rem;

            &:hover {
                filter: brightness(.6);
            }

            &.us {
                background-image: url('../../dist/images/flags/usa-flag.jpg');
            }
            &.ca {
                background-image: url('../../dist/images/flags/canada.svg');
            }
            &.uk {
                background-image: url('../../dist/images/flags/uk-flag.png');
            }
            &.ie {
                background-image: url('../../dist/images/flags/ireland-flag.png');
            }
            &.nl {
                background-image: url('../../dist/images/flags/netherlands-flag.svg');
            }
            &.au {
                background-image: url('../../dist/images/flags/au-flag.png');
            }
            &.be {
                background-image: url('../../dist/images/flags/belgium-flag.svg');
            }
        }
    }
}