.form-container {
    width: 100%;
}

.form {
    width: 100%;

    &__group {
        width: 100%;
        margin-bottom: 1rem;
    }

    input {
        display: inline-block;
        width: 100%;
        background-color: $white-color;
        border: none;
        padding: 1rem;
        font-size: 2rem;
    }

    button {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        border-width: 2px;
        letter-spacing: 1px;
    }
}