.header {
	width: 100%;
	height: 10rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
	@include flex;
	transition: all $t-time $t-ease;

	&.scrolled {
		@include bg-color($white-color);
		padding: 0;
		height: 6rem;
	}

	&__container {
		@include flex(center, space-between);
	}

	.logo {
		position: relative;
		z-index: 4;
		transition: filter $t-time linear, transform $t-time $t-ease;
		&.open,
		&.scrolled {
			filter: invert(1);
		}

		&.scrolled {
			transform: scale(0.6);
		}
	}
}

.nav {
	width: 100%;
	height: 100vh;
	@include bg-color($white-color);
	position: fixed;
	top: 0;
	left: 0;
	transform: translateY(-100%);
	transition: transform $t-time $t-ease;

	@include mq(900px) {
		position: static;
		width: auto;
		height: auto;
		background-color: transparent;
		transform: translateY(0);
	}

	&.open {
		transform: translateY(0);
	}
	&.scrolled {
		.nav__link {
			color: $dark-color;
		}
	}


	div {
		width: 100%;
		height: 100%;
		@include flex;
		flex-direction: column;
		@include mq(900px) {
			flex-direction: row;
		}
	}

	&__list {
		@include flex;
		flex-direction: column;
		margin-bottom: 2rem;

		@include mq(900px) {
			flex-direction: row;
			margin-bottom: 0;
		}

		&--social {
			flex-direction: row;
			margin-bottom: 0;

			.nav__item {
				margin: 0 .75rem;
			}

			.nav__link {
				font-size: 4rem;
				@include mq(900px) {
					font-size: 2.5rem;
				}
			}
		}
	}

	&__item {
		margin: 0.25rem 0;
	}

	&__link {
		display: inline-block;
		font-size: 2.2rem;
		font-weight: 700;
		color: $dark-color;
		text-transform: capitalize;
		padding: 0.5rem;

		@include mq(900px) {
			font-size: 1.6rem;
			color: $text-color-white;
			@include hover;
			// &:hover {

			// }
		}
	}

	// &__list {

	// }
}