.header {
	width: 100%;
	padding: 2rem 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;

	&__container {
		@include flex(center, space-between);
	}

	.logo {
		position: relative;
		z-index: 4;
	}
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	transform: translateY(-100%);
}